<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Agent Details</h1>
    </header>
    <div class="content">
        <div class="agent-details">
            <h2>Agent Information</h2>
            <ul>
                <li><strong>Name:</strong> {{agentDetails['name']}}</li>
                <li><strong>Phone Number:</strong> {{agentDetails['location']}}</li>
            </ul>
        </div>
        
        <!-- Add a form to proceed to the next step -->
       
        <form action="/userVerfication" method="GET">
            <button type="submit">Proceed to Next Step</button>
        </form>
    
    </div>
</body>
</html>
