<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Identification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>User Identification</h1>
    </header>
    <div class="content">
        <h1>Please Caputre Your Image </h1>
        <video id="video" width="640" height="480" autoplay></video>
        <button id="capture">Identify</button>
        <canvas id="canvas" style="display: none;"></canvas>
        <script src="{{ url_for('static', filename='userIdentification.js') }}"></script>
    
    </div>
</body>
</html>
